.chatbox {
  flex: 1;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.chat-header {
  padding: 24px;
  text-align: left;
  margin-top: 20px;
  color: black;
  display: flex;
}

.initial-interface {
  font-size: 20px;
  color: black;
}

.steve-ai {
  font-size: 70px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.gradient-ai-text {
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #4373af, #B367FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-left: 1%;
}

.sparkle-interface{
  width: 40px;
}

.steve-description {
  position: flex;
  justify-content: flex-start;
  padding-right: 1%;
  max-width: 48vw;
}

.flex-container {
  padding-left: -1vw;
  display: flex;
  list-style: none;
  margin-top: 5vw;
}

.flex1-item,
.flex2-item,
.flex3-item {
  width: 50%;
  margin: 10px;
  padding: 10px;
  margin-top: -1vw;
  margin-bottom: 1vh;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.f1-item {
  background: -webkit-linear-gradient(45deg, #ae332c, #601c18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.f2-item {
  background: -webkit-linear-gradient(45deg, #36711d, #224810);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.f3-item {
  background: -webkit-linear-gradient(45deg, #611749, #2a201c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.small-item {
  font-weight: normal;
}

.message-container {
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(92% - 100px);
  overflow-y: auto;
}

.message-container div {
  padding: 5px;
  width: fit-content;
  display: inline;
  padding: 0 0.5rem;
  border-radius: 5px;
  color: black;
}

.message-container p {
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: flex;
}

.sparkle {
  width: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  color: black;
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.input-field {
  flex: 1;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 10px;
  padding: 12px;
}

.input-field::placeholder {
  color: #313131;
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}