.listing-card-container {
  height: 35vh;
  width: 14vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
  border: 1px #ccc;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
}

.listing-thumbnail {
  height: 25vh;
  width: 25vh;
  border-radius: 8px;
  align-items: center;
}

.listing-pd {
  display: flex;
  justify-content: space-between;
}

.listing-price {
  font-size: 25px;
  font-weight: bold;
  margin-top: 1vh;
}

.listing-detail {
  font-size: 17px;
  font-weight: normal;
  margin-top: 0.3vh;
  text-decoration: none;
  color: #525252;
}

.listing-detail:hover {
  color: #ccc;
}

.listing-area {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  bottom: 0;
  right: 0;
  color: #444444;
}

.listing-sqft {
  font-size: 20px;
  font-weight: normal;
  margin-left: 0.2vw;
  color: #525252;
}

.listing-address {
  display: flex;
  color: #525252;
}
