.listing-card-container {
  height: 25vh;
  width: 14vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
  border: 1px solid black;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.listing-thumbnail {
  height: 8vh;
  width: 15vh;
}