.chat-container {
  display: flex;
  background-color: #FFFFFF;
  color: #8D8D8D;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.initial-interface {
  font-size: 20px;
  color: black;
}

.initial-interface p {
  margin-left: -835px;
}

.steve-ai {
  font-size: 70px;
  font-weight: bold;
  margin-left: -1300px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex1-item {
  margin-left: -170px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.flex2-item {
  margin-left: -205px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.flex3-item {
  margin-left: -205px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.small-item {
  font-weight: normal;
}

.gradient-ai-text {
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #4373af, #B367FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.sparkle-interface{
  width: 40px;
}

.side-menu {
  width: 400px;
  padding: 10px;
  background-color: #FFFFFF;
}

.side-menu-button {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  margin-top: 100px;
  margin-left: 40px;
  transition: ease 0.25s all;
}

.side-menu-button:hover {
  background-color: rgba(249, 249, 249);
  border-radius: 5px;
  cursor: pointer;
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.loan-header {
  color: #8D8D8D;
  font-size: 14px;
  width: 300px;
  margin-top: 30px;
  margin-left: 50px;
}

.loan-header:hover {
  background-color: rgba(249, 249, 249);
  border-radius: 5px;
  cursor: pointer;
}

.ellipsis-button {
  background-color: transparent;
  border: none;
  color: #8D8D8D;
  font-size: 16px;
  margin-left: 100px;
  cursor: pointer;
}

.chatbox {
  flex: 1;
  background-color: #FFFFFF;
  position: relative;
}

.chat-header {
  padding: 24px;
  text-align: left;
  margin-top: 20px;
  color: black;
  display: flex;
}

.message-container {
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 480px;
  padding: 0;
}

.message-container div {
  padding: 5px;
  width: fit-content;
  display: inline;
  padding: 0 0.5rem;
  border-radius: 5px;
  color: black;
}

.message-container p {
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: flex;
}

.sparkle {
  width: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  color: black;
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.input-field {
  flex: 1;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 10px;
  padding: 12px;
}

.input-field::placeholder {
  color: #313131;
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}