.home-page-container {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-title {
  font-size: 70px;
  text-align: center;
}

.gradient-text {
  font-size: 70px;
  background: -webkit-linear-gradient(#0096FF, #40B5AD);
  /* background-image: conic-gradient(#0096FF, #40B5AD); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.home-description {
  font-size: 20px;
  text-align: center;
}

.search {
  
}