.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-title {
  font-size: 70px;
  text-align: center;
}

.gradient-text {
  font-size: 70px;
  background: -webkit-linear-gradient(#0096FF, #40B5AD);
  /* background-image: conic-gradient(#0096FF, #40B5AD); in the case that the browse doesn't support linear gradient*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.home-description {
  font-size: 20px;
  text-align: center;
}

.home-search {
  width: 900px;
  height: 50px;
  border: none;
  border-radius: 7px;
  outline: none;
  background: white;
  color: black;
  padding: 0.25rem;
  padding-left: 5rem; /* space in front of placeholder */
  font-size: 20px;
}

.home-search::placeholder {
  opacity: 1;
  color: black;
}