.map {
  /* margin-left: 10px; */
  min-height: 1000px;
  min-width: 1000px;
}

.topSection {
  display: flex;
  flex-direction: row;
  flex: 50%;
 } 

.listing {
  margin-left: 2vmin;
  width: 25vw;
  .listingTitle{
    align-items: center;
  }
}

.listings-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popupListing {
  z-index: 1000;
}

