.container {
  background: white;
}

.search-bar-container {
  display: flex;
  align-items: center;
}

.top-nav {
  display: flex;
  align-items: center;
}

.home-search {
  width: 900px;
  height: 50px;
  border-radius: 7px;
  margin-left: 0px;
  margin-right: 10px;
}

.filter-dropdown select {
  margin-right: 21px;
}

.container-bottom {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.map {
  flex: 1;
  height: 300px;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  flex: 50%;
  margin-top: 370px;
 } 

.listing {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
  width: 25vw;
  color: black;
  .listingTitle{
    align-items: center;
  }
}

.listings-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popupListing {
  z-index: 1000;
}

